

*{
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
}


* ,*::before, *::before{
    box-sizing: border-box;
}

html,body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: 100%;
    padding-top: 15px;
}
.headings{
    width:100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif; 
}

.menulist{
    display: none;
}

.social-links{
    padding-top: 10px;
    justify-content:space-around ;
    width: 230px;
    display: flex;
    cursor: pointer;
}

.main-body{
    width: 100%;
    height: 90vh;
    background-image: url(/app/web-pictures/Beach-Resort-Wallpaper-47-2560x1600.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
}

.background{
    width: 100%;
    height: 90vh;
    background-color: rgb(124, 119, 119);
    opacity: 0.5;
    position: absolute;
}

.content{
    position: relative;
}

.sgn{
    position: relative;
    margin-top: 10px;
}


.line-divider{
    width: 100%;
    height: 0.7px;
    background-color: rgb(107, 105, 105);
    margin: auto;
    position: absolute;
    top: -6%;
}
.abouts-section{
    width: 65%;
    height: 250px;
    margin: auto;
    padding: 10px;
    margin-top: 4em;
    text-align: center;
    position: relative;
    font-family: 'Oswald', sans-serif;

}


.icons-container{
    width: 90%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    grid-template-rows: 290px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 160px;
    position: relative;
    font-family: 'Comfortaa', cursive;
}
.as{
    text-align: center;
}


.bigline{
    width: 90%;
    height: 200px;
    background-image: linear-gradient(90deg, rgb(140, 201, 196),rgb(96, 187, 160));
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    position: absolute;
    top: -35%;
    left: 5%;
    z-index: -1;
}

.image-section{
    width: 90%;
    height: 1660px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 390px 390px 390px 390px;
    grid-row-gap: 30px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    background-color: rgb(224, 235, 238);
    position: relative;
    border-radius: 10px;
    border-top: 1px solid rgb(197, 195, 193);
    border-left: 1px solid rgb(158, 166, 167);
    box-shadow: 2px 2px 2px #999;
    font-family: 'Comfortaa', cursive;
}



.review-section{
    width: 100%;
    height: 500px;
    position: relative; 
    background-image: linear-gradient(90deg, rgb(195, 211, 210),rgb(134, 155, 149));
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgba(148, 183, 204, 0.596);
    box-shadow: 6px 6px 6px rgb(166, 170, 170);
    font-family: 'Oswald', sans-serif;
}


.opacity-color{
    width: 100%;
    height: 100%;
    background-color: rgba(151, 146, 146, 0.219);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.allign{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.footer{
    width: 100%;
    height: 400px;
    background-color: rgb(2, 12, 12);
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Rubik', sans-serif;
}

.phase1{
    color: aliceblue;
    display: flex;
    justify-content: space-around;
   
}

span{
    font-size: 30px;
}
.slim-line{
    width: 80%;
    height: 1px;
    background-color: rgb(184, 190, 190);
    margin:10px auto;
}








